body {
	font-family: 'Helvetica Neue';
	background: #3399FF;
	color: #ffffff;
	font-size: 25px;
	background-image:url('logost.jpg');
}

#main-container {
	margin-top: 15px;
	text-align: center;
	image:url('logost.jpg');
	
}

.ui-page { -webkit-backface-visibility: hidden; }

a:link, a:visited {
	font-weight: normal;
	text-transform: uppercase;
	color: #FFFFFF;
	text-decoration: none;
}

a:hover, a:active {
	font-weight: normal;
	text-transform: uppercase;
	color: #ffffff;
	text-decoration: none;
}

#plaatje {
	position: relative;
	width: 700px;
	left: 50%;
	margin-left: -350px;
}
#plaatje img {
	position: relative;
}
#plaatje a {
	display: block;
	position: absolute;
}

#borst
{
height: 59px;
width: 100px;
top: 143px;
left:143px;
}
#rug
{
height: 157px;
width: 122px;
top: 141px;
left:450px;
}
#benen1
{
height: 357px;
width: 133px;
top: 300px;
left:125px;
}
#benen2
{
height: 231px;
width: 144px;
top: 375px;
left: 437px;
}
#buik
{
height: 110px;
width: 106px;
top: 210px;
left: 140px;
}
#armen1
{
height: 154px;
width: 44px;
top: 168px;
left:85px;
}
#armen2
{
height: 150px;
width: 59px;
top: 181px;
left:254px;
}
#armen3
{
height: 181px;
width: 56px;
top: 149px;
left:390px;
}
#armen4
{
height: 179px;
width: 50px;
top: 155px;
left:574px;
}
