body {
	font-family: 'Helvetica Neue';
	background: #3399FF;
	color: #ffffff;
	font-size: 25px;
	background-image:url('logost.jpg');
}

#main-container {
	margin-top: 150px;
	text-align: center;
	image:url('logost.jpg');
	
}

.ui-page { -webkit-backface-visibility: hidden; }

a:link, a:visited {
	font-weight: normal;
	text-transform: uppercase;
	color: #FFFFFF;
	text-decoration: none;
}

a:hover, a:active {
	font-weight: normal;
	text-transform: uppercase;
	color: #ffffff;
	text-decoration: none;
}

#plaatje {
	position: relative;
	width: 700px;
	left: 50%;
	margin-left: -350px;
}
#plaatje img {
	position: relative;
}
#plaatje a {
	display: block;
	position: absolute;
}

#borst
{
height: 59px;
width: 100px;
top: 143px;
left:143px;
}
#rug
{
height: 157px;
width: 122px;
top: 141px;
left:450px;
}
#benen1
{
height: 300px;
width: 125px;
top: 357px;
left:133px;
}
#benen2
{
height: 375px;
width: 437px;
top: 231px;
left:144px;
}
#buik
{
height: 110px;
width: 106px;
top: 210px;
left:140px;
}
#armen1
{
height: 167px;
width: 85px;
top: 154px;
left:44px;
}
#armen2
{
height: 181px;
width: 254px;
top: 150px;
left:59px;
}
#armen3
{
height: 149px;
width: 390px;
top: 181px;
left:56px;
}
#armen4
{
height: 155px;
width: 574px;
top: 179px;
left:50px;
}
